body {
    margin: 0;
}

main {
    margin: 16px;
}
#col{
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    
    background: rgb(52, 41, 63);
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
